<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                <a class="dropdown-item" href="#">Action</a> 
                <a class="dropdown-item" href="#">Another action</a> 
                <a class="dropdown-item" href="#">Something else here</a> 
            </div>
        </div>         
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
            <a class="dropdown-item" href="#">Action</a> 
            <a class="dropdown-item" href="#">Another action</a> 
            <a class="dropdown-item" href="#">Something else here</a> 
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <ul class="nav"> 
            <li class="nav-item"> 
                <div class="dropdown"> 
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                    Dropdown button                </button>                     
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                        <a class="dropdown-item" href="#">Action</a> 
                        <a class="dropdown-item" href="#">Another action</a> 
                        <a class="dropdown-item" href="#">Something else here</a> 
                        <a class="dropdown-item" href="#">Dropdown item</a>
                    </div>                     
                </div>                 
            </li>             
            <li class="nav-item"> 
                <a class="nav-link" href="#">Longer nav link</a> 
            </li>             
            <li class="nav-item"> 
                <a class="nav-link" href="#">Link</a> 
            </li>             
            <li class="nav-item"> 
                <a class="nav-link disabled" href="#">Disabled</a> 
            </li>             
        </ul>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
