<%= render 'shared/head' %>
<h3><center>About</center></h3>
<p>
        <h4><center>Create Words. Create Phrases. Connect Words with Phrases.</center></h4>
       
        <h6><center>Wednesday aims to be an environment where I can visualize</center></h6>
        
        <h6><center>and manipulate my creative space right in front of me.</center></h6>
        
        <h6><center>The goal is the beginnings of a template for a children's book</center></h6>
        
        <h6><center>each page of which is dedicated to a single letter of the alphabet such that,</center></h6>
        
        <center>the "Letter" is for a "Main Word" which is incorporated into a "Phrase"</center>
        
        <h6><p><center><b>A is for Amazing Grace</b></center></p></h6>
        
        <h6><center>Is a completed page.  The Phrase can be matched with the Words "Amazing" and "Grace."</center>
        
        <h6><center>"Amazing" and "Grace" can also have other phrases.</center></h6>
        
        <hr> 
        
