<%= render 'shared/head' %>
<h3><center>About</center></h3>
<p>
        <h4><center>Create Words. Create Phrases. Connect Words with Phrases.</center></h4>
       
        <h6><center>The goal is the beginnings of a template for a children's book with</center></h6>
        
        <h6><center>a single page dedicated to each letter of the alphabet such that,</center></h6>
        
        <h6><center>the "Letter" is for a "Main Word" which is incorporated into a "Phrase"</center></h6>
        
        <h6><p><center><b>A is for Amazing Grace</b></center></p></h6>
        
        <h6><center>Is a completed page. The Phrase can be matched with the Words</center></h6>
        
        <h6><center>"Amazing" and "Grace." "Amazing" and "Grace" can also belong to other phrases.</center></h6>
        
        <hr> 
        
